:root {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(45, 45, 45, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #site-name{
    font-family: Montserrat, sans-serif;
  }
  
  #app {
    height: 100vh;
    max-height: 100vh;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }
  
  
  /* Swiper */
  
  .swiper-pagination-fraction,
  .swiper-pagination-custom, 
  .swiper-horizontal > .pagination-lines, 
  .pagination-lines.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
  }
  
  .relative-swiper-pagination .swiper-pagination{
  position: relative;
  margin: 2rem 0;
  }
  
  .restricted-swiper .swiper-pagination {
    text-align: left!important;
    margin-left: 4rem;
  }
  
  .swiper-fade .swiper-slide{
    opacity: 0;
    background-color: #ffffff;
  }
  
  .pagination-line {
    background-color: rgb(228, 228, 228);
    opacity: 1;
    width: 15px;
    margin: 0 .4rem 0 0;
    height: 2px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .pagination-line:hover {
     background-color: rgb(174, 174, 174);
  }
  
  .pagination-line-active {
    width: 30px;
    transition: all 0.3s ease-in-out;
    left:0;
    background-color: rgb(65, 65, 65);
  }
  
  .swiper-pagination-vertical .pagination-line{
  width: 2px;
  height: 15px;
  display: block;
  }
  .swiper-pagination-vertical .pagination-line-active{
    width: 3px;
    height: 30px;
    display: block;
  }
  
  .fullSwiper{
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1024px) { 
    .swiper-pagination{
      display: flex;
      gap: 3;
      flex-direction: row;
    }
    .pagination-line {
      height: 1.5px;
      margin: 0;
      width: 100%; 
    }
  }
  
  /* ANIMATIONS */
  
  .anim-fadeIn{
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .anim-slide-down{
    animation: slideDown 0.5s ease-out;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .anim-slide-right{
    animation: slideRight 0.5s ease-out;
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  